/* Tu CSS va aqui */

.logo{
	width: 200px;
	margin-top: 20px;
	margin-left: 140px;
}
ul{
	padding-left: 90px;
}
li{
	list-style: none;
	display: inline-block;
	margin-top: 40px;
	color:#808080;
	font-size: 12px;
	padding-left: 60px;
}
.background{
	background-color:#808080;
	max-width: 100%;
	margin-top: 15px;
	padding: 50px 0px;
}
h1{
	font-family: "open+sans";
	color: white;
	font-size: 35px;
	margin-left: 90px;
}

.dos{
	margin-top: 15px;
}
.tres{
	margin-top: 15px;
}
p{
	color:white;
	font-size: 10px;
	margin-left: 90px;

}
.cuatro{
	margin-top: 20px;

}
.formulario{
	width: 200px;
	height: 130px;
	background-color:#9A9A9A;
	border-radius: 5px;

	margin: 20px 130px;
}
.cinco{
	font-family: "open+sans";
	color: white;
	font-size: 15px;
	margin-left: 50px;
	padding-top: 10px;
}
.formularios{
	margin-left: 12px;
	margin-top: 5px;
}
.boton{
	background-color:#3EB0F7;
	margin-left: 12px;
    margin-top: 5px;
    padding: 4px 54px 1px 58px;
    align-content: center;
    color: white;
}
.all{
	font-size:11px;
	color: #808080;
	margin:10px;
	margin-left: 200px;
	font-family: Arial;

}
